<div class="about-container"></div>
<div class="about-container2">
  <div class="login-container">
    <h2>Login</h2>
  
    <!-- Display message -->
    <div *ngIf="message" [ngClass]="messageClass" class="message">{{ message }}</div>
  
    <!-- Login Form -->
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">Login</button>
      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </form>
  </div>
  
</div> 