/* You can add global styles to this file, and also import other style files */

:root {
  --color-primary: #0073ff;
  --color-white: #eee;
  --color-black: #141d28;
  --color-black-1: #212b38;
  --color--green: #48a50e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-image: url('https://i.pinimg.com/originals/6c/ed/34/6ced34dfe635f2050bdd4cdcb03d9191.jpg');
  background-size: cover;
}
.logo {
  color: var(--color-white);
  font-size: 30px;
}
.logo span {
  color:pink;
}
ul li ul.down li {
  display: block;
}
ul li ul.down {
  width: 100%;
  color: var(--color-white);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li:hover ul.down {
  display: block;
}
.menu-bar {
  background-color: var(--color-pink);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}
.dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.dropdown-menu ul {
  margin: 10px;
  display: block;
}

.fas{
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
.menu-bar ul{
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}
.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: var(--color-primary);
}
a:is(:link, :active, :visited).active{
color: white;
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
/* dropdown menu style */

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}
.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}
.dropdown-menu-1 {
  display: none;
}
.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}
.hero {
  height: calc(100vh - 80px);
  background-position: center;
}